// Configuration
@import '../../node_modules/bootstrap/scss/functions';

// Custom Bootswatch theme variables
@import '../../node_modules/bootswatch/dist/darkly/variables';

// Bootstrap Configuration continued
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/variables-dark';
@import '../../node_modules/bootstrap/scss/maps';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/utilities';

// Layout & components
@import '../../node_modules/bootstrap/scss/root';
@import '../../node_modules/bootstrap/scss/reboot';
@import '../../node_modules/bootstrap/scss/containers';
@import '../../node_modules/bootstrap/scss/grid';
@import '../../node_modules/bootstrap/scss/tables';
@import '../../node_modules/bootstrap/scss/buttons';

// Utilities
@import '../../node_modules/bootstrap/scss/utilities/api';

#dropZone {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition:
    visibility 175ms,
    opacity 175ms;
}

#dropText {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  transition: font-size 175ms;
  font-size: 10vh;
}

#uploadButton {
  width: 100%;
}

#fileProgress,
#cancelButton {
  width: 100%;
  visibility: hidden;
}

td {
  vertical-align: middle;
}

button svg {
  vertical-align: middle;
}

caption {
  display: none;
}
